@model IEnumerable<MVC.Models.Error>
@{ 
    int i = 1;
}
<div class="jumbotron">
    <h1>Error..</h1>
</div>
<div class="page-header">
    <a href="javascript:void(0);" onclick="history.go(-1);">Back to Details</a>
    <br />
</div>
<h2>An error occurred while processing your request.</h2>
<div class="table-condensed">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Info</th>
                <th>Error Messaga</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                if (Model != null)
                {
                    foreach (var error in Model)
                    {
                        <tr>
                            <td class="info">@Html.Label(i++.ToString())</td>
                            <td class="Success">Workbook: @error.Workbook</td>
                            <td class="danger">@error.Message</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>


